form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px 0;
}

input {
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    padding: 8px 16px;
    width: 238px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
}

input:hover {
    border: 1px solid rgb(0, 0, 0);
}

input:focus {
    border: 1px solid rgb(78, 117, 255);
    outline: none;
}

button {
    border-radius: 8px;
    background: rgb(78, 117, 255);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    padding: 8px 16px;
}

button.load-more-button {
margin: 0 auto;
display: flex;
}

button:hover {
    background: rgb(108, 140, 255);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 25px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 1px solid rgb(128, 128, 128);
    background: url(ux-indonesia-qC2n6RQU4Vw-unsplash);
}

.item-image {
    width: 360px;
    height: 200px;
}

.image-info {
    display: flex;
    margin: 20px 4px;
}

.info-accent{
    display: block;
    font-weight: 600;
    line-height: 16px;
}

.item-likes {
    margin-right: 28px;
    text-align: center;
}

.item-views {
    margin-right: 27px;
    text-align: center;
}

.item-comments {
    margin-right: 32px;
    text-align: center;
}

.item-downloads {
    text-align: center;
}

/* #region Loader */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* #endregion */